# Git ignore file for the project

# Mac system files
**/.DS_Store

# Project-specific output files
**/P*.qmd
**/20*,.qmd
qmds/*
**/*.html
# ...but keep the asset files required by the templates
!assets/*.html
**/*_files

# Local configuration file
config.json
/.quarto/

**/*.quarto_ipynb

# Python caches
__pycache__/
**.pyc
.ruff_cache/
